.footer__nav {
  flex-basis:50%;
  margin: 0 0 20px 0;
  white-space: nowrap;
  @include breakpoints(m) {
    flex-basis: 50%;
  }
  @include breakpoints(ml) {
    flex-basis: 20%;
    &:last-of-type {
        text-align: right;
    }
  }
  .footer__nav__name {
    @extend %boldUppercase;
  }
  ul {
    list-style-type: none;
    margin:0;
    padding:0;
    li {
      margin:0;
      padding:0;
      &:not(.no-click) a {
          text-decoration: underline;
          @extend %linksLowercase;
        }
      a {
        color: $accentBGfont;
      }
    }
  }
}
