@mixin breakpoints($breakpoint) {

  @if $breakpoint == "s" {
    @media screen and (min-width: 321px){
      @content;
    }
  }
  @if $breakpoint == "m" {
    @media screen and (min-width: 560px){
      @content;
    }
  }
  @if $breakpoint == "ml" {
    @media screen and (min-width: 820px){
      @content;
    }
  }
  @if $breakpoint == "l" {
    @media screen and (min-width: 960px){
      @content;
    }
  }
}

@mixin floatingColumns($position) {
  float: $position;
  width: 100%;
  @include breakpoints(ml) {
    width: 48%;
  }
}
