%largeLogoPaths {
  opacity: 0;
  transition: 0.2s ease-in-out;
  .large & {
    transform: translate(0);
    opacity:1;
    transition: 0.2s ease-in-out;
    transition-delay: 0.4s;
  }
}

#alter_booking-logo {
  width:90px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  margin: 0 auto;
  @include breakpoints(m) {
    margin: 0;
  }
  path {
    fill: $accentColor;
  }
  .large & {
    width:180px;
  }
  #A {
    transform: translate(150%);
    transition: 0.4s ease-in-out;
    transition-delay: 0.2s;
    @include breakpoints(m) {
      transform: translate(0);
    }
    .large & {
      transform: translate(0);
      transition: 0.4s ease-in-out;
    }
  }
  #AUSRUFEZEICHEN {
    transform: translate(-580%);
    transition: 0.4s ease-in-out;
    transition-delay: 0.2s;
    @include breakpoints(m) {
      transform: translate(-1090%);
    }
    .large & {
      transform: translate(0);
      transition: 0.4s ease-in-out;
    }
  }

  #BOOKING__MANAGEMENT {
    @extend %largeLogoPaths;
    transform: translate(0, -200%);
  }

  #LTER {
    @extend %largeLogoPaths;
  }
}
