.header__menu {
  background: $accentBG;
  top: 80px;
  padding: 15px 0 5px;
  left:0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include breakpoints(m) {
    width: auto;
  }
}
.small {
  .header__menu {
    padding: 0 0 5px;
  }
}
.mainNav, .langSwitch {
  display: inline-block;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: 0;
      padding: 0 0 0 5px;
      @include breakpoints(m) {
        &:first-of-type {
          padding: 0 0 0 23px;
        }
      }
      &.current-menu-item a, &.current-page-ancestor a {
        color: $accentColor;
        border-bottom: solid 2px $accentColor;
      }
      a {
        @extend %menuLinks;
        outline: none;
      }
      display: inline-block;
    }
  }
}
