.artist {
  &__info {
    width: 100%;
    @include breakpoints(ml) {
      flex-basis: 53%;
    }
  }
  &__social {
    width: 100%;
    @include breakpoints(ml) {
      flex-basis: 47%;
      padding-left: 50px;
    }
  }
}
