.artist__iframe {
  position: relative;
  width: 100%;
  height: 0;
  margin: 0 0 20px 0;
  &.video {
    padding-bottom: 55%;
  }
  &.playlist {
    padding-bottom: 80%;
  }
  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
