.product {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
  flex-wrap: wrap;
}
.product__image {
  flex-basis:100%;
  @include breakpoints(m) {
    flex-basis:40%;
  }
}
.product__details {
  flex-basis: 100%;
  margin: 10px 0 20px;
  @include breakpoints(m) {
    flex-basis:55%;
    margin: 0;
  }
}
.product__name {
  @extend %boldUppercase;
  margin: 0 0 5px 0;
}
.product__download {
  &:not(:last-of-type) {
    &::after {
      content: ' |';
    }
  }
}
