/* logo styles */
@import "modules/logo";
/* menu styles */
@import "modules/menu";

/* fixed header styles */
#header {
  position: fixed;
  top:0;
  z-index: 999;
  width: 100%;
  transition: 0.4s ease-in-out;
  padding: 5px 20px;
  background-color: $accentBG;
  &.small {
    border-bottom: 2px solid $accentColor;
  }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin:0 auto;
  }
}
.header__spacer {
  position: relative;
  z-index: 1;
}
